.Card {
    flex: 1;
    margin: 20px;
    border: 3px ;
    overflow: hidden;
    border-radius: 10px;
    background-color: #97BAEC;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.Card .Conteudo {
    flex: 1;
    padding: 15px 20px;
    color: whitesmoke;
}

.Card .Footer {
    background-color: #445BC1;
    color: whitesmoke;
    padding: 5px 0px;
    text-align: center;
}